# Everything exports with too much garbage Jesus Christ

*

!.gitignore
!README.md

!report.pdf
!report.tex

!Assignment1/
!numbers.cf
!arithmetic.hs
!Calculator.hs
!Interpreter.hs

!hw5/
!lambda.cf
!TestLambda.hs