# Everything exports with too much garbage Jesus Christ

*

!.gitignore
!README.md

!report.pdf
!report.tex

!FinalProject/
!FinalProject/*

!Assignment1/
!numbers.cf
!arithmetic.hs
!Calculator.hs
!Interpreter.hs

!hw5/
!lambda.cf
!TestLambda.hs

!Assignment2/
!Assignment2/*
!Assignment2/*/*

!Assignment3/
!Assignment3/LambdaFun
!Assignment3/LambdaFun/*
!Assignment3/LambdaFun/*/*